body {
	padding-top: 51px;
}

/*Center Search Bar and Make it longer*/
/*
nav form.navbar-form {
	width: 100%;
}

nav form .form-group {
	width: 100%;
	text-align: center;
}

.navbar-form .form-control {
	width: 70%;
}

#search {
	text-align: center;
}*/

/*End of Centering Search Bar*/

.jumbotron {
	background-image: url(http://i2.minus.com/iHZLzJmbsO6rh.jpg);
	background-position: no-repeat center center fixed;
	color: #000;
}

.jumbotron .container {
	background-color: #eee;
	opacity: 0.7;
	border-radius: 10px;
}

.jumbotron .container p {
	padding-bottom: 10px;
}

#content {
}

#content a {
	text-decoration: none;
}